* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
}

header h1 {
    text-align: center;
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 60px 0;
    text-align: center;
}

section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#home .content {
    max-width: 600px;
    margin: 0 auto;
}

#home h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

#home p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
}

.feature-grid {
    display: flex;
    justify-content: space-around;
}

.feature-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
}

#uploadForm {
    margin-top: 20px;
}

#uploadForm input, #uploadForm button {
    display: block;
    margin: 10px auto;
    padding: 10px;
}

#uploadForm input {
    width: 300px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

#uploadForm button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
